* {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro, Arial, sans-serif;
}

main {
  background: bisque;
  height: 1700px;
}

/* Header */
header {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  color: #fff;
  border-bottom: 4px solid #090402;
  width: 100%;
  font-size: 25px;
}

.logo {
  background-color: #d88e32;
  width: 50px;
  display: flex;
  padding: 2px 10px 5px 5px;
  margin: 5px 0 10px 0px;
}

.searchBar {
  display: flex;
  padding: 10px 50px;
  justify-content: center;
}

.searchBar input {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchBar .iconSearch {
  width: 40px;
  height: 35px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.cart span {
  display: flex;
  padding: 2px 10px 5px 5px;
  margin: 12px 0 5px 0px;
}

.badge:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 33%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: #df0000;
  text-align: center;
  min-width: 1em;
  font-weight: bold;
  background: white;
  border-style: solid;
}
.payment-method-icon-container {
  width: 10px;
}

.index {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
}
.title {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}

.title h2 {
  font-size: 50px;
}

.title p {
  font-size: 20px;
}

.index-image img {
  display: flex;
  width: 100%;
}

.pasos-cursos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
  color: #ffffdf;
}
.pasos-cursos article {
  padding: 80px;
  text-align: center;
  width: calc(20% - 80px);
  background-color: #a9a9a9;
  color: #090402;
}

/* Cursos destacados */
.cursos-destacados {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.full-card-container {
  width: 260px;
  height: 300px;
  border: solid gainsboro;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}

.h2-title {
  text-align: center;
}

.inner-image-container {
  width: 244px;
  margin-top: 7px;
  height: 160px;
  background-color: black;
  position: relative;
  border-radius: 2px;
}

.course-card-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.price-container {
  background: #4747bd;
  color: white;
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 4px;
}

.card-text-container {
  height: 120px;
  width: 244px;
  background: #b7b7b7;
  position: absolute;
  bottom: 0;
  align-content: flex-end;
  padding-bottom: 5px;
  display: flex;
  bottom: 2px;
}

.card-text-container-left {
  width: 30%;
  height: 100%;
  padding: 12px;
  position: relative;
}

.card-text-container-left h3 {
  top: 3px;
  position: absolute;
}

.card-text-container-right {
  width: 70%;
  height: 100%;
  font-size: 0.7em;
  display: flex;
  position: relative;
  justify-content: center;
}

.card-text-container-right-div {
  display: block;
  text-align: center;
  position: absolute;
  top: 11px;
  right: 7px;
  line-height: 0.8em;
}

.ver-detalle {
  font-size: 0.8em;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 22px;
}

.boton-comprar {
  border-radius: 30px;
  background: #4747bd;
  color: white;
  bottom: 19px;
  position: absolute;
  right: 3px;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 1;
  outline: none;
  display: block;
  border: 0;
  font-size: 18px;
  font-family: "montserrat";
}

/* Medios de pago */

.h2-second-title {
  text-align: center;
  position: absolute;
  bottom: 320px;
}

.medios-pagos {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.medio-de-pago-container {
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.medio-de-pago-container-div {
  width: 180px;
  height: 120px;
  background: gray;
}

.medio-de-pago-right-icon-container {
  width: 60px;
  height: 80px;
  position: absolute;
  right: 40px;
}

.medio-de-pago-left-icon-container {
  width: 60px;
  height: 80px;
  position: absolute;
  left: 40px;
}

@media only screen and (max-width: 899px) {
  body {
    width: fit-content;
  }
}
