main {
  height: 800px !important;
}

.section-container {
  width: 1000px;
  height: 1000px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 37%;
  height: 800px;
  position: absolute;
}

.right-section {
  width: 63%;
  height: 800px;
  position: relative;
  left: 370px;
}

.price-container {
  background: #4747bd;
  color: white;
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 4px;
}

.gift-card-container {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 45px;
  border-radius: 4px;
  box-shadow: 7px 7px 0px -2px rgba(0, 0, 0, 0.2);
}

.container-default-color {
  background-color: red;
}

/* Texto de la gift card*/
.destinatario-text-default-color {
  color: white;
}

/* JQuery options - gift card text color font*/
.white-font {
  color: white;
}

.black-font {
  color: black;
}

.green-font {
  color: rgb(173 255 179);
}

.purple-font {
  color: #4949b3;
}

.orange-font {
  color: rgb(226 147 0);
}




/* Subtítulo de la gift card*/
#section-container-outer-h3 {
  position: absolute;
  top: 400px;
  left: 20px;
}

/* Form */
.full-form-container {
  width: 400px;
  height: 570px;
  /* background-color: #c9d6ff; */
  border: 0.5px  white;
  position: relative;
  top: 45px;
  /* box-shadow: 7px 7px 0px -2px rgba(0, 0, 0, 0.2); */
  margin-left: 10px;
}

/* Form - input destinatario */
.input-nombre-destinatario {
  position: relative;
  top: 20px;
  left: 1px;
  width: 20em;
  height: 1.7em;
  border-radius: 2.5px;
  border: 3px solid white;
}

/* Form - Color */

.input-and-color-container {
  position: absolute;
  top: 130px;
  left: 10px;
  display: block;
  height: fit-content;
  width: fit-content;
}

.radio-size {
  height: 40px;
  width: 40px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: -28px;
}
.radio-white-color {
  border-radius: 50%;
  background-color: white;
}
.radio-black-color {
  border-radius: 50%;
  background-color: black;
}
.radio-green-color {
  border-radius: 50%;
  background-color: rgb(173 255 179);
}

.radio-purple-color {
  border-radius: 50%;
  background-color: #4949b3;
}

.radio-orange-color {
  border-radius: 50%;
  background-color: rgb(226 147 0);
}

#label-picked-color {
  position: absolute;
  top: -42px;
  left: -10px;
  font-weight: bold;
}

/* Form - tamaño de la fuente */

.fuente-pick-container {
  margin-top: 8px;
  position: absolute;
  top: 230px;
  left: 10px;
  display: block;
  height: fit-content;
  width: fit-content;
}

.fuente-pick-container span {
  position: relative;
  font-size: 1em;
  top: -20px;
  left: -28px;
}

.container-default-font-size {
  font-size: 15px;
}

#label-picked-fuente {
  position: absolute;
  top: -42px;
  left: -10px;
  font-weight: bold;
}

#destinatario-text-container {
  text-align: center;
}

/* JQuery options - tamaño de la fuente */
.font-size-15px {
  font-size: 15px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-24px {
  font-size: 24px;
}

.font-size-28px {
  font-size: 28px;
}

.font-size-32px {
  font-size: 32px;
}


/* Form- monto */
.monto-container-form {
  position: absolute;
  top: 270px;
}
.monto-container-form input {
  width: 20em;
  height: 1.7em;
  border-radius: 2.5px;
  border: 3px solid white;
}
#label-picked-monto {
  font-weight: bold;
}

/* Form - ubicación */

.ubicacion-container {
  position: absolute;
  top: 360px;
  left: -40px;
  display: block;
  height: fit-content;
  width: fit-content;
}

.ubicacion-size {
  height: 40px;
  width: 40px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: -58px;
}

.ubicacion-container input {
  position: relative;
  left: -28px;
}

#label-picked-ubicacion {
  position: relative;
  top: -67px;
  left: 40px;
  font-weight: bold;
}

/* Form - ubicacion box */
.radio-centro {
  background-color: white;
}
.radio-centro-mini-box {
  height: 12px;
  width: 20px;
  background-color: black;
  position: absolute;
  bottom: 14px;
  left: 10px;
}

.radio-top {
  background-color: white;
}
.radio-top-mini-box {
  height: 12px;
  width: 20px;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.radio-bottom {
  background-color: white;
}
.radio-bottom-mini-box {
  height: 12px;
  width: 20px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 10px;
}

/* Form - ubicacion box - JQuery */

.gift-card-container-radio-centro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gift-card-container-radio-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.gift-card-container-radio-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}



/* Form - Fondo */
.fondo-container {
  position: absolute;
  bottom: 60px;
  left: 6px;
  display: block;
  height: fit-content;
  width: fit-content;
}

.fondo-size {
  height: 40px;
  width: 40px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: -76px;
}

.fondo-container input {
  position: relative;
  left: -46px;
}

#label-picked-fondo {
  position: relative;
  top: -67px;
  left: -5px;
  font-weight: bold;
}

.primer-fondo {
  background-color: red;
}

.segundo-fondo {
  background-color: blue;
}

.tercer-fondo {
  background-color: green;
}

.cuarto-fondo {
  background-color: #7d7def;
}

.quinto-fondo {
  background-color: orange;
}


/* Form - boton confirmar */
#boton-confirmar {
  position: absolute;
  bottom: 15px;
  border-radius: 30px;
  background: #4747bd;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 1;
  outline: none;
  display: block;
  border: 0;
  font-size: 18px;
  font-family: "montserrat";
}
