* {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro, Arial, sans-serif;
}

header {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  color: #fff;
  border-bottom: 4px solid #090402;
  width: 100%;
  font-size: 25px;
}

.logo {
  background-color: #d88e32;
  width: 50px;
  display: flex;
  padding: 2px 10px 5px 5px;
  margin: 5px 0 10px 0px;
}

.searchBar {
  display: flex;
  padding: 10px 50px;
  justify-content: center;
}

.searchBar input {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchBar .iconSearch {
  width: 40px;
  height: 35px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.cart span {
  display: flex;
  padding: 2px 10px 5px 5px;
  margin: 12px 0 5px 0px;
}

.course-image {
  width: 300px;
}

.course-container {
  display: flex;
  justify-content: center;
  padding: 250px;
}

.badge:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 33%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: #df0000;
  text-align: center;
  min-width: 1em;
  font-weight: bold;
  background: white;
  border-style: solid;
}
.payment-method-icon-container {
  width: 10px;
}

.index {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
}
.title {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}

.title h2 {
  font-size: 50px;
}

.title p {
  font-size: 20px;
}

.index-image img {
  display: flex;
  width: 100%;
}

.pasos-cursos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 250px;
  color: #ffffdf;
}
.pasos-cursos article {
  padding: 80px;
  text-align: center;
  width: calc(20% - 80px);
  background-color: #a9a9a9;
  color: #090402;
}

.card-course-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
}
